<style scoped lang="scss">
</style>

<template>
  <div class="bg-white full-height full-width absolute">
    <div class="absolute-center" style="width:65%">
      <div>
        <img />
        <h1>login</h1>
      </div>
      <div>
        <q-form @submit="onSubmit" class="q-gutter-md">
          <q-input
            hint="Ejemplo: usuario@correo.com"
            v-model="mail"
            type="email"
            label="Correo"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Ingresa un Correo']"
          ></q-input>

          <q-input
            label="Contraseña"
            v-model="password"
            :type="isPwd ? 'password' : 'text'"
            lazy-rules
            :rules="[
                val => val !== null && val !== '' || 'Por favor Ingresa tu contraseña',
              ]"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <!--
            <div class="row justify-end">
            <div class="col-auto text-subtitle2 text-primary selft-right" style="cursor: pointer;" @click="showDialog()">Olvidé mi contraseña</div>
          </div>
          -->

          <div>
            <q-btn rounded label="Ingresar" type="submit" color="primary"></q-btn>
            <!--<q-btn rounded label="Registrate" type="reset" color="primary" flat class="q-ml-sm"></q-btn>-->
          </div>
        </q-form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {},
  components: {},
  data() {
    return {
      mail: null,
      accept: false,
      password: "",
      isPwd: true,
      show: false,
    };
  },
  computed: {},
  methods: {
    onSubmit() {
      if (this.password !== null && this.mail != null) {
        console.log("exec petition http");
        this.login();
      } else {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "warning",
          message: "Algo salio mal intenta de nuevo",
        });
      }
    },

    login() {
      var app = this;
      console.log("exec login");
      this.$auth.login({
        data: {
          email: app.mail,
          password: app.password,
        },
        success: function (response) {
          console.log("exec login success");
        },

        error: function () {
          console.log("error");
          app.has_error = true;
          this.$q.notify({
            icon: "error",
            message: "correo o contraseña incorrecto",
            color: "negative",
            position: "center",
            actions: [{ icon: "close", color: "white" }],
          });
        },
        rememberMe: true,
        fetchUser: false,
      });
    },
  },
  created() {},
  mounted() {},
};
</script>

