<template>
  <q-page class="flex flex-center">
    
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  components: {},
  data() {
    return {
      pri:'1'
    };
  },
  computed: {},
  methods: {

  },
  created() {
    console.log("hola")
  },
  mounted() {},
}
</script>
